$color-primary: #FF6838;

$color-secondary: #00A8CC;
$color-dark: #21243D;

// bg
$color-bg: #ffffff;
$color-bg-section: #EDF7FA;
$color-time-1:#142850;
$color-time-2: $color-primary;
$ancer-color: #363853;
$ancer-hover:#FF6838;
$sign-bg:#FF7A50;

// size
$ancer-size:1.8rem;
$ancer-line-height:1.17;


// fonts
$heebo: "Heebo", "Arial", sans-serif;